@keyframes show-manual {
  to {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media (max-width: 600px) {
  .manual {
    font-size: 0.8rem;
  }

  .manual-content {
    width: 68vw;
    padding: 1rem;
  }
      
}

h1,
h2,
h3 {
  color: #d0d0d0;
}

.manual {
  top: 1rem;
  background-color: rgba(0, 0, 0, 90%);
  border: 1px solid white;
  position: fixed;
  padding: 1rem;
  z-index: 10;

  opacity: 0;
  animation: show-manual 1s forwards;
}

.manual-header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 1rem;
  color: #cfbaa1;
  top: 0px;
}

#yulang:hover {
  animation: flip 5s 1s infinite linear;
}

.manual-content {
  height: 65vh;
  width: 80vw;
  overflow: auto;
  padding: 2rem;
  padding-top: 1rem;
  color: #cfbaa1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  animation: slide-in 1s;
}

pre {
  padding: 1rem;
  color: #cfbaa1;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 2px solid #957564;
  background: #000000;
  overflow-x: auto;
}

.close-button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
}

.close-button:hover {
  cursor: pointer;
  color: rgb(155, 0, 0);
  animation: flip infinite 2s ease-in;
}